<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
        <script type="application/javascript" src="{% static "js/jq.js" %}"></script>
        <script type="application/javascript" src="{% static "js/main.js" %}"></script>
        <link rel="stylesheet" href="{% static "style/style.css" %}">
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div id ="main" class = "main-div">
    <div id="message-field"></div>
    <div id="buttons-field">
        <div class="input-field">
           <label id="label-for-sender" for="sender">
                Имя
            </label>
            <input id="sender" size="10"/>
        </div>
        <hr>
        <div class="input-field">
           <label id="label-for-message" for="message">
                Сообщение
            </label></br>
            <textarea id="message" cols="100" rows="4"></textarea></br>
            <button id="btn">Отправить</button>

        </div>
    </div>
</div>

</body>
</html>